# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# See [Github Documentation](https://help.github.com/articles/about-codeowners/).

* @celo-org/devrel 
/docs/cli/ @celo-org/devrel @celo-org/devtooling
/docs/developer/contractkit/ @celo-org/devrel @celo-org/devtooling
/docs/developer/deploy/ @celo-org/devrel @celo-org/primitives
/docs/developer/rainbowkit-celo/ @celo-org/devrel @celo-org/devtooling
/docs/developer/react-celo/ @celo-org/devrel @celo-org/devtooling
/docs/developer/sdks/ @celo-org/devrel @celo-org/devtooling
/docs/developer/viem/ @celo-org/devrel @celo-org/devtooling
/docs/network/node/ @celo-org/devrel @celo-org/devopsre
/docs/protocol/identity/ @celo-org/devrel @celo-org/primitives
