.colored_text a {
  color: inherit !important;
}

.dark .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  border-bottom: 1px solid #fcff52;
}

.dark .prose :where(a:hover):not(:where([class~="not-prose"], [class~="not-prose"], [class~="not-prose"] *)) {
  border-bottom-width: 2px;
}

ol ol {
  list-style-type: lower-roman !important;
}
