.imageCard {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  margin-bottom: 80px;
  word-wrap: break-word;
  background: rgba(97, 97, 97, 0.15);
  background-clip: border-box;
  border: 1px solid rgba(68, 67, 67, 0.18);
  border-radius: 10px;
  margin-left: 10px;
  width: 300px;
  height: 160px;
  align-items: center;
}

.imageDesc {
  font-weight: 700;
  text-align: left;
  padding: 1px;
}

.container {
  padding: 6;
  margin-right: 15;
  cursor: "pointer";
}

.container :hover {
  transition: all 300ms ease-in-out;
  transform: scale(1.01);
  /* transition-duration: 0.5s; */
}
