.pageRef {
  display: flex;
  margin: 32px 0px;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  padding: 8px 16px;
  border: 1px solid var(--ifm-color-secondary);
  border-radius: 3px;
  box-shadow: rgb(116 129 141 / 10%) 0px 3px 8px 0px;
  transition: border 250ms ease 0s;
}

.left {
  display: flex;
  align-items: center;
}

.pageRef:hover {
  text-decoration: none;
  border: 1px solid var(--ifm-color-primary);
}

.arrow {
  font-size: 30px;
  margin-right: 16px;
}

.pageName {
}

.url {
  justify-self: end;
  color: var(--ifm-color-secondary-darkest);
  font-size: 12px;
}
